/* Flex box */
.center-content{
    @apply flex justify-center items-center
}

.row{
    @apply flex flex-row
}

.col{
    @apply flex flex-col
}

.row-reverse{
    @apply flex flex-row-reverse
}

.col-reverse{
    @apply flex flex-col-reverse
}

/* Position */
.absolute-center-x{
    @apply absolute left-1/2 -translate-x-1/2
}

.absolute-center-y{
    @apply absolute top-1/2 -translate-y-1/2
}

.absolute-center{
    @apply absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2
}

/* Otros */
.br-hidden{
    @apply hidden md:block
}

.size-screen{
    @apply lg:max-w-[1100px] lg:mx-auto px-4 lg:px-0
}

.padding-auto{
    @apply py-[50px] 
}

.box-gen{
    @apply bg-[#18181b33] backdrop-blur-lg rounded-lg border border-[#ffffff1a] outline outline-black/25
}

.icon{
    @apply size-6 stroke-zinc-500 hover:stroke-zinc-400 hover:scale-105 transition-all cursor-pointer outline-none
}

.button-main{
    @apply w-full border border-[#ffffff1a] text-zinc-400 flex justify-center items-center gap-2 py-1.5 rounded-lg cursor-pointer outline outline-black/25 hover:bg-zinc-900 hover:[&>span]:text-white hover:[&>svg]:stroke-white transition-all duration-300
}
