---
import UsageAurora from "@/components/ui/usage-aurora";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>AMG - devel</title>

		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">
		
		<!-- Favicon -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<div class="fixed top-0 left-0 w-screen h-screen">
			<UsageAurora 
				client:only="react" 
			/>
		</div>

		<main class="scrollbar relative z-10">	
			<slot />
		</main>
	</body>
</html>

<script is:inline>
    // Scroll to section
    function scrollToSection(sectionId) {
        var section = document.getElementById(sectionId);
        if (section) {
            section.scrollIntoView({ behavior: 'smooth' });
        }
    }
    // End Scroll to section
</script>

<style is:global>
	html {
		background-color: #171717;
		color: white;
		scroll-behavior: smooth;
		font-family: "Geist", sans-serif;
	}

	@media(prefers-reduce-motion: reduce){
        html{
        scroll-behavior: auto;
        }
	}
</style>
